:root{
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(34, 146, 251);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-azulito: rgb(135, 219, 245);
    
    --color-primary-light:rgba(17, 245, 226, 0.827);
    --color-success-ligt: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(160, 99, 245, 0.2);
    --color-azulito-light: rgba(120, 211, 247, 0.89);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 2rem;
    
    --card-border-radius: 1.6rem;
     --border-radius-1: 1rem;
     --border-radius-2: 6px;
   
}
/*DARK VARIABLES */
.dark-theme {
--color-white: #131316;
--color-light: #23232a;
--color-dark: #ddd;
--color-gray-dark:#adacb5;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    
    
}

body {
    background: var(--color-light);
    font-family: poppins, sans-serif;
    min-height: 100vh;
    color: var(--color-dark);
}

img {
    width: 100%;
    
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.86rem;
    font-weight: 500;
}

h6 {
    font-size: 1.6rem;
}

p{
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}

small {
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {

    color: var(--color-success);
}

.azulito {
    color: var(--color-azulito);
}
/*parte bg*/

.bg-primary {
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger {
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-success {

    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-azulito {
    background: var(--color-azulito);
    box-shadow: 0 0.8rem 0.8rem var(--color-azulito-light);
}

.bg-dark {
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
 
}

.bg-color {
    background: #85eea8;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
 
}
.bg-color1 {
    background: #f5d56d;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
 
}

.bg-color2 {
    background: #ee849f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
 
}

.bg-color3 {
    background: #e4ec6c;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
 
}
.bg-color4 {
    background: #f0978b;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
 
}



/*NAvBar El Estilo Q tal q Frao*/

nav{
    width: 100%;
    background: var(--color-white);
    padding: 1rem 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
   
   
    
}

nav img.logo{
    width: 10rem;
}

nav .search-bar{
    background: var(--color-light);
    padding: var(--padding-1 ) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 15%;
}

.profile{
    width: 10rem;

}

nav .search-bar input[type="search"]{
    color: var(--color-dark);
    background: transparent;
    width: 100%;
}

nav .search-bar input[type="search"]::placeholder{
   color: var(--color-gray-dark); 
}

nav .perfil-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

nav .perfil-area .botones {
    display: flex;
    background: var(--color-light);
    width: 5rem;
    height: 2rem;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

nav .perfil-area .botones span{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
   
}

nav .perfil-area .botones .active {
background: var(--color-dark);
border-radius: var(--border-radius-2);
color: var(--color-white);
}

nav .perfil-area .profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .perfil-area .profile-photo{
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

nav .perfil-area button{
    display: none;
}

/*============ASIDE Y SIDEBAR)========== YAYAYJU!!!!*/

main {
    display: grid;
    grid-template-columns: 16rem auto 30rem;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
}

main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}
/*Mostrar solo para Mobile y Tablets*/
main aside button#close-btn {
    display: none;
}

main aside .sidebar a{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
}

main aside .sidebar a span {
    font-size: 1.7rem;
    margin-left: 3rem;
    transition: all 300ms ease;
}

main aside .sidebar a.active {
    background-color: var(--color-white);
    color: var(--color-primary);
}

main aside .sidebar a.active:before {
content: "";
width: 6px;
height: 100%;
position: absolute;
background: var(--color-primary);
}

main aside .sidebar a:hover {
color: var(--color-primary);
}

main aside .sidebar a:hover span {
    margin-left: 2rem;
}

main aside .sidebar h4 {
    font-weight: 500;
}
 /*Actualizacion estilos*/
 

 main aside .updates {
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    text-align: center;
    padding: var(--card-padding);
 }


 main aside .updates span {
    font: 2.8rem;
 }

 main aside .updates h4 {
 margin: 1rem 0;
 }

 main aside .updates a{
   display: block; 
   width: 100%;
   background: var(--color-primary);
   color: var(--color-white);
   border-radius: var(--border-radius-1);
   padding: 0.8rem 0;
   margin-top: 2rem;
   transition: all 300ms ease;
 }

 main aside .updates a:hover{
    box-shadow: 0 1rem 2rem var(--color-primary-light);
 }
/*box 1*/
 main aside .box {
    background: var(--color-azulito);
    border-radius: var(--border-radius-1);
    text-align: center;
    padding: var(--card-padding);
 }
 main aside .box a{
    display: block; 
    width: 100%;
    background: var(--color-success);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: 1rem 0;
    margin-top: 2rem;
    transition: all 300ms ease;
  }

  main aside .box1{
    background: var(--color-success);
    border-radius: var(--border-radius-2);
    text-align: center;
    padding: var(--card-padding);
  }

  main aside .box1 a{
    display: block; 
    width: 100%;
    background: var(--color-danger);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: 1rem 0;
    margin-top: 2rem;
    transition: all 300ms ease;
  }

 /*=========== MIDDEL QLQ ==========*/
main section.middle .header{
display: flex;
align-items: center;
gap: 1rem;
}

main section.middle .header input[type="date"]{
 padding: 0.5rem 2rem;
 border-radius: var(--border-radius-2);
 background: var(--color-white);  
 color: var(--color-gray-dark); 
}
/*   CARTASSSSSSaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaS*/
main section.middle .cards { 
   margin-top: 1rem;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.5rem; 
}

main section.middle .cards .card {
    background: linear-gradient(#008cff, #057229);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: white;
    height: 11rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2rem 3rem var(--color-danger-light);
    transition: all 300ms ease;
    min-width: 11rem;
}

main section.middle .cards .card:nth-child(2){
    background: linear-gradient(#1ec2b4, #9c1908);
    box-shadow: 0 2rem 3rem var(--color-primary-light);
}

main section.middle .cards .card:nth-child(3){
    background: linear-gradient(#4dcff0, #5719c2);
    box-shadow: 0 2rem 3rem var(--color-primary-light);
}
main section.middle .cards .card:hover{
    box-shadow: none;
}

main section.middle .card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

main section.middle .card .top .left{
    display: flex;
    gap: 0.5rem;
}

main section.middle .card .top .left h2{
    font-weight: 200;
    font-size: 1.4rem;
}

main section.middle .card .top .left img{
    width: 6rem;
    height: 5rem;
    border: 1px solid white;
    border-radius: var(--border-radius-2);
    padding: 0.4rem;
}

main section.middle .card .top img.right{
width: 5rem;
}

main section.middle .card .middle{
    display: flex;
    justify-content: space-between;
}

main section.middle .card .middle .chip{
    width: 3.5rem;
}

main section.middle .card .bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main section.middle .card .bottom .right{
display: flex;
gap: 2rem;
}

/*---------------------------------*/

main .ganancias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
}

main .ganancias h1{
    font-weight: 700;
    font-size: 1.8rem;
}

/*-------------- PAGOS Eel estilacho q frao-------------------*/

main .fast-payment {
    margin-top: 2rem;
    display: flex;
    align-self: center;
    gap: 2rem;
}

main .fast-payment .fast {
display: flex;
gap: 1rem;
align-self: center;
flex-wrap: wrap;
max-width: 100%;
}

main .fast-payment .punto span{
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

main .fast-payment .punto{
    padding: 0.6rem var(--card-padding);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 300ms ease;
}

main .fast-payment .punto:hover{
    box-shadow: 0 0 1.5rem var(--color-primary-light);
    cursor: pointer;
}

main .fast-payment .punto:first-child span {
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    font-size: 1.5rem;
}

main .fast-payment .punto div{
    display: flex;
    gap: 2rem;
    align-self: center;
}

/*-------------- GRAFICOO  CANVAS estilacho q frao-------------------*/

canvas#myChart {
   background: var(--color-white);
   max-width: 100%;
   margin-top: 2rem;
   border-radius: var(--card-border-radius);
   padding: var(--card-padding); 
}

canvas#grafico {
    background: var(--color-white);
    max-width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding); 
 }

 canvas#torta {
    background: var(--color-white);
    max-width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding); 
 }
 
 canvas#productos {
    background: var(--color-white);
    max-width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding); 
 }
 

/*-------------- COntenido de la Derecha ASDADE!"$DASDAad-------------------*/

main section.right .proveedores {
    background: var(color --color-azulito);
    border-radius: var(--card-border-radius);
}

main section.right .proveedores img {
    width: 8rem;
}

main section.right .proveedores .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    padding-bottom: 0;
}

main section.right .proveedores .header a{
    display: flex;
    align-items: center;
    color: var(--color-azulito);

}

main section.right .proveedores .proveedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
    border-bottom: 1px solid var(--color-azulito);
    transition: all 300ms ease;
}

main section.right .proveedores .proveedor:last-child{
    border: none;
}

main section.right .proveedores .proveedor:hover{
    background: var(--color-azulito);
    cursor: pointer;
}

/*-----------TRansferencias EStilos -------------------*/

main .pagos{
    margin-top: 2rem;
}

main .pagos img{
    width: 3rem;
}

main .pago .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: var(--color-primary-light);

}

main .pago .header a{
   display: flex;
   align-items: center;

}
main .pagos .tranferencias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem var(--card-padding);
    border-radius: var(--card-border-radius);
}

main .pagos .tranferencias:hover {
    background: var(--color-azulito);
    cursor: pointer;
}

main .pagos .tranferencias .banco{
    display: flex;
    gap: 1rem;
}

main .pagos .tranferencias .banco .icon{
    padding: var(--padding-2);
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
}

main .pagos .card-detalles{
    display: flex;
    align-items: center;
    gap: 1rem;
}

main .pagos .card-detalles .card{
display: flex;
width: 4.6rem;
height: 3rem;
align-items: center;
justify-content: center;
border-radius: var(--border-radius-2);
}
 /*TELEFONOS TABLES MEDIA QUERIES*/
 @media screen and (max-width: 1024px) {
   nav .search-bar{
    display: none;
   }
   nav .perfil-area{
    gap: 2rem;
   }

   nav .perfil-area button#menu-btn {
    display: inline;
    background: transparent;
    color: var(--color-dark);
   }

   main{
    grid-template-columns: 1fr;
   }

   main aside {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    background-color: var(--color-white);
    width: 22rem;
    height: 100vh;
    box-shadow: 2rem 0 2rem var(--color-primary-light);
    display: none;
    animation: showSidebar 500ms ease forwards;

   }

   @keyframes showSidebar {
    to {
        left: 0;
    }
   }

   main aside button#close-btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 4;
  background: transparent;
  color: var(--color-dark);
   }

   button:hover {
    cursor: pointer;
   }
 main aside .sidebar{
    margin-top: 4rem;
 }

 main aside .updates{
    display: none;
 }

 main section.middle .cards{
grid-template-columns: 1fr 1fr;
 }

 main canvas {
    margin: 3rem 0 1rem;
 }
 main section.right .pagos{
    margin-top: 3rem;
 }
 }

  /*TELEFONOS TABLES MEDIA QUERIES*/

  @media screen and (max-width: 600px) {
  nav .perfil-area{
    gap: 2.6rem;
  }
    nav.profile h5,
    nav.profile span {
        display: none;
    }

    /*main section.middle .cards {
        grid-template-columns: 1fr;
    }*/
main section.middle .fast-payment {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    gap: 1.4rem;
}
  }

  /* ESTILOS DEL HTML CONFIGURACIION :: PILAs .. -*/
  .agregar-card{
    margin-top: 1rem;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.5rem; 
   background: linear-gradient(#008cff, #057229);
   padding: var(--card-padding);
   border-radius: var(--card-border-radius);
   color: white;
   height: 11rem;
   width: 15rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 0 2rem 3rem var(--color-danger-light);
   transition: all 300ms ease;
   min-width: 11rem;
   cursor: pointer;
   box-shadow: 0 2rem 3rem var(--color-primary-light);
   background: linear-gradient(#1ec2b4, #9c1908);
   font-weight: 200;
   font-size: 1.4rem;
   align-items: center;
  }

  .producto1 .pagos .img {
    width: 8rem;

  }
