@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --clr-main: #008cff;
   --clr-main-dart: #03545f;
   --crl-white: #ececec;
   --crl-gray: #e2e2e2;
   --clr-red: #961818;
   
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;

}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
}

.wrapper {
   display: grid;
   grid-template-columns: 1fr 4fr;
   background-color: var(--clr-main);

}

aside {
   padding: 2rem;
   padding-right: 0;
   color: var(--crl-white);
   position: sticky;
   top: 0;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.logo {
   font-weight: 400;
   font-size: 1.3rem;

}

.menu {
   display: flex;
   flex-direction: column;
   gap: .5rem;
}
/*Botones estilos*/
.boton-menu {
background-color: transparent;
border: 0;
color: var(--crl-white);
font-size: 1rem;
cursor: pointer;
display: flex;
gap: 1rem;
font-weight: 600;
padding: 1rem;
font-size: .85rem;
}

.boton-menu.active {
   background-color: var(--crl-white);
   color: var(--clr-main);
   width: 100%;
   border-top-left-radius: 1rem;
   border-bottom-left-radius: 1rem;
   position: relative;
}

/*ojo pelao*/
.boton-menu.active::before{
   content: "";
   position: absolute;
   width: 1rem;
   height: 2rem;
  bottom: 100%;
   right: 0;
   background-color: transparent;
   border-bottom-right-radius: 1rem;
   box-shadow: 0 1rem 0 var(--crl-white);

}

.boton-menu.active::after{
   content: "";
   position: absolute;
   width: 1rem;
   height: 2rem;
  top: 100%;
   right: 0;
   background-color: transparent;
   border-top-right-radius: 1rem;
   box-shadow: 0 -1rem 0 var(--crl-white);

}

 .bi-hand-index-thumb-fill, 
 .bi-hand-index-thumb{
   transform: rotateZ(90deg);
}

.texto-footer {
   color: black;
   font-size: 1.2rem;
}

main {
   background-color: var(--crl-white);
   margin: 1rem;
   margin-left: 0;
   border-radius: 4rem;
   padding: 3.5rem;
}

.titulo-principal {
   color: var(--clr-main);
   margin-bottom: 3rem;
}

.contenedor-productos {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1rem;
}

.producto-imagen {
   max-width: 100%;
   border-radius: 1rem;
}

.producto-detalles {
   background-color: var(--clr-main);
   color: var(--crl-white);
   padding: .5rem;
   border-radius: 1rem;
   margin-top: -2rem;
   display: flex;
   position: relative;
   flex-direction: column;
   gap: .25rem;
}

.producto-titulo {
   font-size: 1rem;
}

.producto-agregar {
   border: 0;
   background-color: var(--crl-white);
   color: var(--clr-main);
   padding: .4rem;
   text-transform: uppercase;
   border-radius: 2rem;
   cursor: pointer;
   border: 2px solid var(--crl-white);
   transition: background-color .2s color .2s;
}

.producto-agregar:hover {
   background-color: var(--clr-main);
   color: var(--crl-white);
}